{% extends 'include/base.html' %}
{% load static %}
{% block content %}

<div class="container col-6 mx-auto">
    <h2>Ваш заказ:</h2>
    <table class="table table-borderless col-12">
        <thead>
        <tr>
            <th class="w-50">блюдо</th>
            <th class="w-10">кол-во</th>
            <th class="w-10">цена</th>
            <th class="w-10">сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td class="num">{{ item.price }} р.</td>
            <td class="num">{{ item.total_price }} р.</td>
            {% if item %}
            <td><a class="btn btn-danger btn-sm" href="{% url 'cart:cart_remove' product.id%}">Удалить</a></td>
            {% endif %}
        </tr>

        {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итоговая сумма заказа:</td>
            <td colspan="2"></td>
            <td class="num">{{ cart.get_total_price }} р.</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-lg-6 mx-auto text-center">
      <a class="btn btn-success mr-1" style="width: 220px" href="{% url 'main_app:main' %}">Продолжить покупки</a>
    <a class="btn btn-warning" style="width: 220px" href="#">Оплатить</a>
        </div>
        </div>
{% endblock %}
