<!doctype html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title></title>
</head>

<body>

<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0; height: 380px; background: #decdbd; background-image: url('{% static 'images/phone_main.jpg' %}')">
    <div class="col-sm-6 ml-auto text-right">
        <h5 class="text-right">Текстовый блок - описание и контакты</h5>
    </div>
    <div class="col-sm-2 ml-auto" style="margin-top: 80px;">
        <div class="card ml-auto " style="width: 12rem; background: rgba(191, 189, 189, 0.3);">
            <div class="card-body">
                {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                <div class="row"><h5 class="card-title">В корзине:</h5></div>
                <div class="row" style="margin-top: 10px"><h6 class="card-text">Всего блюд: {{total_items }}</h6></div>
                <div class="row" style="margin-top: 10px"><h6 class="card-text">На сумму: {{ cart.get_total_price }} р.</h6></div>
                {% else %}
                <h5 class="card-title">Ваша корзина пуста:</h5>
                {% endif %}
                {% endwith %}
                <div class="col-lg-12 mx-auto text-center" style="margin-top: 20px">
                    <a class="btn btn-outline-dark btn-sm w-100" href="{% url 'cart:cart_detail' %}">корзина</a>
                </div>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light" style="{{visible}}">
    <div class="btn-group ml-auto">
        <button class="navbar-toggler mr-1 " type="button" >
            <a class="navbar-brand mx-auto" href="{% url 'cart:cart_detail' %}">Корзина</a>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <a class="navbar-brand mx-auto">Меню</a>
        </button>
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mr-1">
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/business_lunch">
                    <img src="{% static 'images/navbar/lunch32.png' %}"> Бизнес-ланчи
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/menu/soups">
                    <img src="{% static 'images/navbar/soup32.png' %}"> Супы
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/menu/hot_course">
                    <img src="{% static 'images/navbar/hot_course32.png' %}"> Горячее
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/menu/garnishes">
                    <img src="{% static 'images/navbar/garnishes32.png' %}"> Гарниры
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/menu/salads">
                    <img src="{% static 'images/navbar/salads32.png' %}"> Салаты
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="/menu/drinks">
                    <img src="{% static 'images/navbar/drinks32.png' %}"> Напитки
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px; color: #2b2b2b" href="{% url 'cart:cart_detail' %}">
                    <img src="{% static 'images/navbar/cart32.png' %}"> Корзина
                    <span class="sr-only">(current)</span>
                    {% with total_items=cart|length %}
                    <span class="badge">{{total_items }}шт.</span>
                    {% endwith %}
                </a>
            </li>



        </ul>
    </div>
</nav>

<div class="container-fluid" style="padding: 0px;">
    {% block content %}
    {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
