select[multiple] {
    height: auto;
    min-height: 600px !important;
}


.aligned label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 23% !important;
    word-wrap: break-word;
    line-height: 1;
    font-size:20px !important;