.menu {
	flex-direction: row;
    line-height: 5.5em;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(153,153,153,0.2);
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.menu-text {
    color: #3b3b3b;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.border-left {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.border-right {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}

.border-all {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;

}


@media (min-width: 840px) {
  .invisible-on-pc { display: none !important;}
}

@media (max-width: 840px) {
  .invisible-on-mobile { display: none !important;}
}

@media (max-width: 840px) {
  .mobile-menu {
        width: 100% !important;
}

@media (max-width: 840px) {
  .mobile-view {
    display: flex-fill;
    flex-direction: column;
    line-height: 1.0em;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    }
}
@media (max-width: 840px) {
  .border-left {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 0px !important;
    }
}

@media (max-width: 840px) {
  .border-right {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 15px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 15px !important;
    }
}

@media (max-width: 840px) {
    .title {
        width: 100% !important;
        padding: 0.5rem!important;
        }
}

@media (max-width: 840px) {
    .banner-area {
        padding: 0.5rem !important;
        height: 280px !important;
        }
}

