<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title></title>
</head>

<body>

<div class="jumbotron jumbotron-fluid" style="background: #decdbd;">
  <div class="container">
    <h1 class="display-5">some text, if needed</h1>
    <p class="lead">some text, if needed</p>
  </div>
</div>

<div class="container-fluid" style="padding: 30px;">
  <div class="row">
    <div class="col-3">
      <div class="list-group list-group-flush">
        <a href="/menu/First_course" style="font-size: 20px" class="list-group-item list-group-item-action text-right">Первые бдюда</a>
        <a href="/menu/Second_course" style="font-size: 20px" class="list-group-item list-group-item-action text-right">Вторые блюда</a>
        <a href="/menu/Salads" style="font-size: 20px" class="list-group-item list-group-item-action text-right">Салаты</a>
      </div>
<!--      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">-->
<!--        <a href="/Salads">12321312312</a>-->
<!--        <a class="nav-link" id="First_course" data-toggle="pill" href="/First_course" role="tab" aria-controls="v-pills-home" aria-selected="true">Первые бдюда</a>-->
<!--        <a class="nav-link" id="Second_course" data-toggle="pill" href="/Second_course" role="tab" aria-controls="v-pills-home" aria-selected="true">Вторые блюда</a>-->
<!--        <a class="nav-link" id="Salads" data-toggle="pill" href="/Salads" role="tab" aria-controls="v-pills-home" aria-selected="true">Салаты</a>-->
<!--      </div>-->
    </div>
    <div class="col-6">
      <div class="row row-cols-1 row-cols-md-3">
        {% for food in form %}
        <div class="col mb-4">
          <div class="card h-100">
            <img src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553--miniature-dolls-miniature-food.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{food.name}}</h5>
              <p class="card-text">{{food.description}}</p>
            </div>
            <div class="card-footer text-center">Цена: {{food.price}}р.</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>