{% extends 'include/base.html' %}
{% load static %}
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>

{% block content %}

<!-- Start menu-area Area -->
<section class="menu-area section-gap" id="menu">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10" style="color: #3d3b3b">В кафе для Вас всегда свежая и вкусная еда!</h1>
                    <h4 class="mb-10" style="color: #3d3b3b">Сытные завтраки, разнообразные ланчи, ароматная выпечка и десерты</h4>
                </div>
            </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
            <li>Завтраки, выпечка</li>
            <button class=".js-menu" id="123" value="456">Понедельник</button>
            <li>Вторник</li>
            <li>Среда</li>
            <li>Четверг</li>
            <li>Пятница</li>
            <li>Напитки</li>
        </ul>
                    
        <div class="filters-content">
            <div class="row grid">
                {% if Monday %}
                {% for food in Monday %}
                {{food.name}}
                {% endfor%}
                {% endif %}
            </div>
        </div>
                    
    </div>
</section>
<!-- End menu-area Area -->
{% endblock %}
