{% extends 'include/base.html' %}

{% block content %}
<div class="col-6">
  <div class="row row-cols-1 row-cols-md-3">
    {% for food in form %}
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553--miniature-dolls-miniature-food.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{food.name}}</h5>
          <p class="card-text">{{food.description}}</p>
        </div>
        <div class="card-footer text-center">Цена: {{food.price}}р.</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
