{% extends 'include/base.html' %}

{% block content %}
<div class="col-lg-8 mx-auto">
  <div class="row row-cols-1 row-cols-lg-4">
    {% for food in form %}
    <div class="col mb-4">
      <div class="card card-block h-100" style="width: 100%">
        <img src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553--miniature-dolls-miniature-food.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{food.name}}</h5>
          <p class="card-text">{{food.description}}</p>
        </div>
        <div class="card-footer text-center">
          <form action="{% url "cart:cart_add" food.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Add to cart">
</form>Цена: {{food.price}}р.</div>
        <button type="button" class="btn btn-success">Купить</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
