{% extends 'include/base.html' %}

{% block content %}
<div class="col-10 offset-1">
    <div class="row row-cols-1 row-cols-md-2">
        {% for food in form %}
        <div class="col mb-4">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553--miniature-dolls-miniature-food.jpg" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{food.name}}</h5>
                            <p class="card-text">{{food.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">Цена: {{food.price}}р.</div>
                <button type="button" class="btn btn-success">Купить</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
