{% extends 'include/base.html' %}
{% load bootstrap %}
{% block content %}
<div class="col-sm-10 mx-auto">
    <h2 style="padding: 10px">Текстовый блок призыв оформлять заказ заранее из более широкого меню</h2>
    <h3>Текстовый блок короткая инструкция - выбирай из меню, отправляй заявку и мы свяжемся</h3>
    <div class="row justify-content-center" style="padding: 30px">
        <h2>Бизнес-ланчи на сегодня</h2> </div>
    <div class="row row-cols-1 row-cols-lg-4 justify-content-center">
        {% for food in form %}
        <div class="col mb-4">
            <div class="shadow card" style="border: 0; width: 100%">
                <img class="card-img-top" src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553--miniature-dolls-miniature-food.jpg" data-toggle="collapse" data-target="#demo{{food.id}}" alt="...">
                <div class="card-body" data-toggle="collapse" data-target="#demo{{food.id}}">
                    <h5 class="card-title text-center">{{food.name}}</h5>
                    <div id="demo{{food.id}}" class="collapse">
                        <p>{{food.description}}</p>
                        <p>Цена: {{food.price}}р.</p>
                    </div>
                </div>
                <form action="{% url 'cart:cart_add' food.id %}" method="post">
                    {% csrf_token %}
                    <div class="container">
                        <div class="d-flex flex-row justify-content-between ">
                            <div class="block">{{cart_product_form|bootstrap}}</div>
                            <div class="block mt-4">
                                <button type="submit" name="type" value="{{food.type}}" class="btn btn-success">В корзину</button>
                            </div>
                            <div class="block mt-4">
                                <div class="btn btn-outline-success">{{food.price}}р.</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!--    <div class="row row-cols-1 row-cols-md-2">-->
    <!--        {% for food in form %}-->
    <!--        <div class="col mb-4">-->
    <!--            <div class="shadow p-5 card mb-3">-->
<!--                <div class="row no-gutters">-->
<!--                    <div class="col-md-4">-->
<!--                        <img src="https://i.pinimg.com/236x/32/37/ea/3237eaca38d1a60c49ceae6f6a63c553&#45;&#45;miniature-dolls-miniature-food.jpg" class="card-img-top" alt="...">-->
<!--                    </div>-->
<!--                    <div class="col-md-8">-->
<!--                        <div class="card-body">-->
<!--                            <h5 class="card-title">{{food.name}}</h5>-->
<!--                            <p class="card-text">{{food.description}}</p>-->
<!--                            <p>Цена: {{food.price}}р.</p>-->
<!--                            <form action="{% url 'cart:cart_add' food.id %}" method="post">-->
<!--                                {% csrf_token %}-->
<!--                                <div class="row">-->
<!--                                    <div class="mb-2 ml-5">{{cart_product_form|bootstrap }}</div><button type="submit" name="type" value="{{food.type}}" class="btn btn-success h-50 my-auto ml-3">В корзину</button>-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->